{:paths ["src"]
 :deps {}

 :aliases
 {:dev
  {:extra-deps {org.clojure/clojure {:mvn/version "1.11.3"}
                org.clojure/clojurescript {:mvn/version "1.11.60"}}
   :extra-paths ["test/cljs" "test/clj" "test/cljc"]}
  
  :build
  {:deps {io.github.clojure/tools.build {:git/tag "v0.9.6" :git/sha "8e78bcc"}
          slipset/deps-deploy {:mvn/version "0.2.2"}}
   :ns-default build}
  
  :test-cljs
  {:extra-deps {thheller/shadow-cljs {:mvn/version "2.21.0"}}
   :extra-paths ["test/cljs" "test/cljc" "test/browser"]}
  
  :test-clj
  {:extra-paths ["test/cljc" "test/clj"]
   :extra-deps {io.github.cognitect-labs/test-runner {:git/tag "v0.5.1" :git/sha "dfb30dd"}}
   :main-opts ["-m" "cognitect.test-runner"]
   :exec-fn cognitect.test-runner.api/test}

  :bench
  {:extra-deps  {criterium/criterium {:mvn/version "0.4.6"}
                 dev.onionpancakes/chassis {:mvn/version "1.0.365"}
                 hiccup/hiccup  {:mvn/version "2.0.0-RC3"}
                 com.clojure-goes-fast/clj-async-profiler {:mvn/version "1.2.0"}
                 selmer/selmer  {:mvn/version "1.12.59"}
                 enlive/enlive  {:mvn/version "1.1.6"}}
   :jvm-opts ["-Djdk.attach.allowAttachSelf"]
   :extra-paths ["dev" "test" "resources" "bench"]
   :exec-fn     bench/bench-all}}}
